<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看图书</title>
</head>
<body>
<div>
    <form action="/webstore/search" method="get">
        <input type="text" name="title">
        <input type="submit" value="查询">
    </form>
</div>
<div>
    <table>
        <tr>
            <th>书名</th>
            <th>出版社</th>
            <th>定价</th>
            <th>零售价</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        {% for abook in book %}
        <tr>
            <td>{{ abook.title }}</td>
            <td>{{ abook.pub }}</td>
            <td>{{ abook.price }}</td>
            <td>{{ abook.market_price }}</td>
            <td><a href="/webstore/modify/{{ abook.id }}">修改</a></td>
            <td><a href="/webstore/del/{{ abook.id }}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>