<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
</head>
<body>
<form action="/webstore/add_book" method="post">
    <div>
        <input type="text" name="title" placeholder="书名" required>
    </div>
    <div>
        <input type="text" name="pub" placeholder="出版社" required>
    </div>
    <div>
        <input type="text" name="price" placeholder="定价" required>
    </div>
    <div>
        <input type="text" name="market_price" placeholder="零售价" required>
    </div>
    <div>
        <input type="submit" value="添加">
    </div>
</form>
</body>
</html>